.footer {
  width: 100%;
  height: 45px;
  background-color: #373f41;
  z-index: 1;
}

.pFooter {
  font-size: 10px;
  color: #dedfdf;
  float: right;
  padding-right: 45px;
  line-height: 45px;
}

.linkFooter {
  text-decoration: none;
  color: rgb(222, 223, 223);
  padding-left: 15px;
}
