.header {
  display: grid;
  grid-template-columns: 18fr 300px 1fr;
  height: 80px;
  width: 100%;
  align-items: center;
  background-color: #373f41;
  padding: 0 20px;
}
.logo {
  height: 40px;
}
.burger-menu-container {
  text-align: right;
}
.burger-menu {
  height: 20px;
}
