.background-absolute {
  width: 100%;
  height: 100%;
  opacity: 0.1;
}
#waves {
  width: 100%;
  height: 100vh;
}
.container {
  width: 100%;
  height: 100%;
  background: linear-gradient(75deg, #606a6c, #081b1f);
}

.animated-logo-big-part,
.small-circle {
  position: absolute;
  width: 70%;
  text-align: center;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  animation: logo-container 1.5s ease-in 1;
}
@keyframes logo-container {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotate(-70deg);
  }
  60% {
    opacity: 0.4;
    transform: translate(-50%, -50%) rotate(-28deg);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

.animated-logo-small-part {
  position: absolute;
  width: 70%;
  text-align: center;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  stroke-width: 15px;
  animation: scale-small-turn-logo 1.5s ease-in 1;
}

@keyframes scale-small-turn-logo {
  0% {
    position: absolute;
    width: 70%;
    text-align: center;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5) rotate(90deg);
  }
  100% {
    position: absolute;
    width: 70%;
    text-align: center;
    top: 50%;
    left: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1) rotate(0deg);
  }
}
.button-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.button {
  position: absolute;
  width: 50%;
  height: 50%;
  background: #0000002e;
  outline: none;
  border: 1px solid #ffffff14;
  font-size: 15pt;
  color: grey;
  opacity: 0;
  animation: button-fade-in 2s ease 2s 1 forwards;
}
.button:hover {
  color: white;
  background: #00000055;
  border: 1px solid white;
}
@keyframes button-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#login {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  animation: login-transition 2s ease 1s 1 forwards;
}
@keyframes login-transition {
  0% {
    transform: translate(0px, 60px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px) scale(1);
  }
}
#login-text {
  position: absolute;
  width: 130px;
  height: 130px;
  line-height: 130px;
  margin-top: 20px;
  margin-left: 20px;
  top: 0;
  border-radius: 50%;
  animation: text-flash 1s ease 2.5s 1;
}
#login:hover #login-text {
  box-shadow: 0px 0px 0px 1px white;
  background: #0087c116;
  font-size: 17pt;
}
#showcase {
  top: 0;
  right: 0;
  animation: showcase-transition 2s ease 1s 1 forwards;
}
#showcase-text {
  position: absolute;
  width: 130px;
  height: 130px;
  line-height: 130px;
  margin-top: 20px;
  margin-right: 20px;
  top: 0;
  right: 0;
  border-radius: 50%;
  animation: text-flash 1s ease 2.5s 1;
}
#showcase:hover #showcase-text {
  box-shadow: 0px 0px 0px 1px white;
  background: #0087c110;
  font-size: 17pt;
}
@keyframes showcase-transition {
  0% {
    transform: translate(-60px, 0px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px) scale(1);
  }
}

#user {
  top: 50%;
  left: 0;
  animation: user-transition 2s ease 1s 1 forwards;
}
@keyframes user-transition {
  0% {
    transform: translate(0px, 60px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px) scale(1);
  }
}
#user-text {
  position: absolute;
  width: 130px;
  height: 130px;
  line-height: 30px;
  margin-bottom: 20px;
  margin-left: 20px;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: text-flash 1s ease 2.5s 1;
}
#user:hover #user-text {
  box-shadow: 0px 0px 0px 1px white;
  background: #0087c125;
  font-size: 17pt;
}

#artist {
  top: 50%;
  left: 50%;
  animation: artist-transition 2s ease 1s 1 forwards;
}
@keyframes artist-transition {
  0% {
    transform: translate(60px, 0px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px) scale(1);
  }
}
#artist-text {
  position: absolute;
  width: 130px;
  height: 130px;
  line-height: 30px;
  margin-bottom: 20px;
  margin-right: 20px;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: text-flash 1s ease 2.5s 1;
}
#artist:hover #artist-text {
  box-shadow: 0px 0px 0px 1px white;
  background: #0087c110;
  font-size: 17pt;
}
@keyframes text-flash {
  0% {
    font-weight: 500;
    color: grey;
  }
  50% {
    font-weight: 600;
    color: #ededed;
    box-shadow: 0px 0px 0px 1px #ededed;
    background: #0087c122;
  }
  100% {
    font-weight: 500;
    color: grey;
  }
}
