.menu-container {
  position: absolute;
  top: -80px;
  width: 100vw;
  height: 100vh;
}
.burger-menu-container {
  position: fixed;
  z-index: 10;
  top: 30px;
  right: 45px;
}
.menu {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  right: -1000px;
  opacity: 0.95;
  z-index: 1;
  margin-top: 80px;
}
.menu-fade-in {
  animation: menu-fade-in 0.4s ease 1 forwards;
}
.menu-fade-out {
  animation: menu-fade-out 0.4s ease 1 forwards;
}
.menu-item {
  background-image: url('../images/menu-structure.png');
  color: #ffcb9e;
  list-style: none;
  height: 80px;
  width: 375px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 47px 0 60px;
  font-size: 16pt;
}
.menu-item:hover {
  color: #fefefe;
  font-size: 18pt;
  background-image: url('../images/menu-structure-hover.png');
}
.menu-item:hover > .icon {
  width: 35px;
  height: 35px;
  transform: translate(2px, 0px);
}
.icon {
  width: 30px;
  height: 30px;
}
@keyframes menu-fade-in {
  0% {
    right: -1000px;
  }
  100% {
    right: 0px;
  }
}
@keyframes menu-fade-out {
  0% {
    right: 0px;
  }
  100% {
    right: -1000px;
  }
}
