.menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: -300px;
  opacity: 0.95;
  z-index: 1;
}
.menu-fade-in {
  animation: menu-fade-in 0.4s ease 1 forwards;
}
.menu-fade-out {
  animation: menu-fade-out 0.4s ease 1 forwards;
}
.menu-item {
  background-image: url("../images/menu-structure.png");
  color: #fce2db;
  list-style: none;
  height: 80px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 35px 0 55px;
  font-size: 16pt;
}
.menu-item:hover {
  color: #fefefe;
  background-image: url("../images/menu-structure-hover.png");
}
.icon {
  width: 30px;
  height: 30px;
}
@keyframes menu-fade-in {
  0% {
    right: -300px;
  }
  100% {
    right: 0px;
  }
}
@keyframes menu-fade-out {
  0% {
    right: 0px;
  }
  100% {
    right: -300px;
  }
}
