.navbar-display {
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.pipe-divider {
  margin: 0px 5px;
  color: #fefefe;
  font-size: 36px;
}

.avatar-image {
  width: 36px;
  height: 36px;
  object-fit: cover;
  clip-path: circle(18px at center);
  margin: 0px 15px;
}
.avatar-link {
  line-height: 0;
}
.user-name {
  color: #fefefe;
  font-size: 17px;
}
