.search-main-container {
  width: 100vw;
  height: 100vh;
  /* display: flex; */
  flex-direction: column;
  flex-grow: 1;
  background: url('/images/search-image.jpg') no-repeat top center fixed;
  background-size: cover;

  /* background-color: hsl(60, 100%, 90%);
  background-blend-mode: multiply; */
}
.search-body {
  width: 100vw;
  height: 100%;
  margin-top: 60px;
  flex-grow: 1;
  overflow: hidden;
}
.search-headline-container {
  background-color: white;
  padding: 60px 0px;
}
.search-headline {
  padding: 0px 60px;
  width: 100%;
  color: #606a6c;
  position: relative;
  z-index: 1;
  text-align: left;
}
.headline-color-overlay {
  background-image: url('/images/headline-color-overlay.png');
  width: 165px;
  height: 57px;
  position: absolute;
  top: -15px;
  left: -60px;
  opacity: 0.8;
}
.headline-color-overlay-2 {
  background-image: url('/images/headline-color-overlay.png');
  width: 165px;
  height: 57px;
  position: absolute;
  top: -15px;
  left: -80px;
  opacity: 0.8;
}
.search-headline-2 {
  padding: 0px 60px;
  width: 100%;
  color: #606a6c;
  margin: 20px 0px;
}
.search-h2 {
  position: relative;
  color: #606a6c;
  margin: 40px 0px;
}
.search-container {
  display: flex;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  background-color: #eeeeeeaa;
}
.search-container-flex-1 {
  width: 30%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-container-flex-2 {
  width: 35%;
}
.search-container-flex-3 {
  width: 35%;
}
.search-toggle {
  width: 70px;
  height: 70px;
  background-color: #ffffff00;
  outline: none;
}
.main-toggle-select {
  background-color: #758184;
}
.main-toggle-deselect {
  background-color: #e1e1e1;
}
.search-creatives-toggle-image,
.search-creations-toggle-image {
  width: 50px;
  height: 50px;
}
.search-select-label {
  position: relative;
  color: #606a6c;
  margin-top: 40px;
}
.search-select-main-buttons {
  width: 200px;
  margin: 100px 0px;
  display: flex;
  justify-content: space-between;
}
.search-text-input,
.search-city-input {
  width: 300px;
  height: 25px;
  border-radius: 5px;
  padding-left: 5px;
  margin-bottom: 10px;
  border: 1px solid #cacaca;
  color: #707070;
}
.search-button {
  width: 300px;
  height: 40px;
  border-radius: 10px;
  border-style: none;
  background-color: #606a6c;
  color: #fefefe;
  font-size: 14pt;
  cursor: pointer;
  margin-top: 40px;
}
.creative-icon-container {
  cursor: pointer;
  border-radius: 50%;
  background-color: #0ad82e;
  box-shadow: 0px 0px 30px 20px #0ad82e;
}
.creation-icon-container {
  cursor: pointer;
}
.search-category-container,
.search-tags-container {
  width: 400px;
  height: 200px;
  padding: 5px 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  background-color: #102c4e0d;
  border-radius: 5px;
  box-shadow: 5px 5px 10px 0px #d2d2d2;
}

.search-category-button-deselect:hover {
  background-color: #c4d2d6;
  border: 2px solid #dbdbdb;
}
.search-category-radio-button {
  display: none;
}
.search-category-button-deselect {
  width: 180px;
  height: 48px;
  color: #616869;
  background-color: #c4c4c4;
  border-radius: 5px;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.search-category-button-select {
  width: 180px;
  height: 48px;
  background-color: #8cadb5;
  border: 2px solid #fefefe !important;
  border-radius: 5px;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.search-optional-label {
  width: 350px;
  margin-bottom: 20px;
  font-size: 9pt;
  color: #a8a8a8;
}
.tag-select {
  width: 160px;
  height: 40px;
  color: #fefefe;
  background-color: #8cadb5;
  border: 2px solid #fefefe;
  border-radius: 40px;
  outline: none;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  font-size: 12pt;
}
.tag-deselect {
  width: 160px;
  height: 40px;
  color: #f0ecec;
  background-color: #c4c4c4;
  border-radius: 40px;
  outline: none;
  border: none;
  text-align: center;
  line-height: 44px;
  cursor: pointer;
}
.tag-deselect:hover {
  color: #f0fcfc;
  background-color: #cfcfcf;
  border: 2px solid #dbdbdb;
  line-height: 40x;
}
