.spinner-container {
  width: 100vw;
  height: 120vh;
  position: absolute;
  background-color: #33333368;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner {
  width: 100px;
  height: 100px;
}
