.terms-container {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  width: 90%;
  margin: 0px 0px 0px 65px;
}
.terms-headline {
  color: #555;
  margin: 20px 0px;
}
.terms-p {
  color: #606a6c;
  margin: 20px 0px;
}
.address {
  color: #606a6c;
  margin: 0;
}
