.work-item-container {
  width: 22%;
  height: 300px;
  margin: 40px 0px;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 10px 1px #ababab;
  transition: box-shadow 0.25s ease-in-out;
}
.work-item-container:hover {
  box-shadow: 1px 1px 20px 10px #ababab;
  background-color: white;
}
.work-item-creative-name,
.work-item-title-container {
  width: 100%;
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  color: #606a6c;
}
.work-image-wrapper {
  position: relative;
  border-top: none;
  border-bottom: none;
  margin: 1px 0px;
}
.work-image-container-clip-path {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.work-image-container {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  transition: transform 0.3s ease-in-out;
}
.work-image-container:hover {
  transform: scale(1.05);
}
.showcase-avatar-icon {
  width: 30px;
  height: 30px;
  object-fit: cover;
  clip-path: circle(15px at center);
  margin: 0px 15px;
}
.showcase-category-icon {
  width: 25px;
  height: 25px;
  object-fit: contain;
  margin: 0px 15px;
}
.a:visited {
  color: #606a6c;
}
.tags-container {
  position: absolute;
  top: 0;
  right: 8px;
  display: flex;
  flex-direction: column;
  pointer-events: none;
}
.tag {
  width: auto;
  height: 18px;
  color: #fefefe;
  background: #ffa45e;
  border-radius: 9px;
  font-size: 9pt;
  text-align: center;
  line-height: 18px;
  margin-top: 8px;
  padding: 0px 10px;
}
